*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #33b66c;
    display: grid;
    gap: 20px;
    width: 500px;
    max-width: calc(100vw - 40px);
    padding: 30px;
    border-radius: 10px;
    font-size: 1.2rem;
}

#text{
    display: block;
    height: 100px;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: none;
    resize: none;
    padding: 8px 10px;
    outline: 2px solid rgba(120,120,120,0.623);
}


.flaoting_parent{
    position: fixed;
    top: 80%;
    right: 18px;
    text-align: center;
    color: blue;
    z-index: 1000;
}
 .flaoting_parent .right_button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: #EF9234;
    background-size: 24px;
    background-position: center;
    display: flex;
    float: right;
    margin: 0 auto;
    border: 1px solid #EF9234;
    cursor: pointer;
    transition: transform 0.5s;
   
}